body {
    background-image: url('../Images/fbg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}


.h1 {
    margin-left: auto;
    margin-right: auto;
}

.paragraph {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: larger;
    height: auto;
}

.text {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-left: 300px;
    margin-right: 300px;
}
.center {
    margin-left: 450px;
}
.center2 {
    margin-left: 500px;
}
.table {
    text-align: center;
    margin-left: 400px;
    margin-right: auto;
}
.center3 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.table2 {
    text-align: center;
    margin-left: 600px;
    margin-right: 300px;
}
